################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReportPrinter/ReportPrinterLibrary/obj
/ReportPrinter/ReportPrinterLibrary/bin/Debug/netcoreapp3.1
/ReportPrinter/RaphaelService/bin/Debug/netcoreapp3.1
/ReportPrinter/RaphaelService/obj
/ReportPrinter/MalachiService/bin/Debug
/ReportPrinter/MalachiService/obj
/ReportPrinter/CosmoService/obj
/ReportPrinter/CosmoService/bin/Debug
/ReportPrinter/ReportPrinterDatabase/bin/Debug/netcoreapp3.1
/ReportPrinter/ReportPrinterDatabase/obj
/ReportPrinter/ReportPrinterDatabase/SqlQuery/.vs
/ReportPrinter/ReportPrinterDatabase/SqlQuery/Database/.vs
/ReportPrinter/ReportPrinterUnitTest/obj
/ReportPrinter/ReportPrinterUnitTest/bin/Debug/netcoreapp3.1
