<?xml version="1.0" encoding="utf-8" ?>
<AppConfig>
	<RabbitMQConfig>
		<UserName>guest</UserName>
		<Password>guest</Password>
		<Host>localhost</Host>
		<VirtualHost>/</VirtualHost>
	</RabbitMQConfig>
	<DatabaseConfigList>
		<DatabaseConfig Id="ReportPrinter" DatabaseName="ReportPrinter">
			<ConnectionString>Data Source=LAPTOP-ETHALNIF;Initial Catalog=ReportPrinter;Integrated Security=True</ConnectionString>
		</DatabaseConfig>
	</DatabaseConfigList>
	<TargetDatabase>ReportPrinter</TargetDatabase>
</AppConfig>